<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Nuovo libro</title>
<link th:replace="~{fragments/bootstrap :: head}"></link>
</head>
<body>
	<div class="container">
	<h1>Nuovo libro</h1>
	<hr/>
	<form id="book-form" th:object="${book}"
	  th:action="@{/books/create}"  method="post">
	  	<div class="row">
	  	<div class="col-8">
	  	<label for="title" class="form-label">Titolo</label>
  		<input type="text" class="form-control" id="title" th:field="*{title}">
  		
  		<label for="author" class="form-label">Autore</label>
  		<input type="text" class="form-control" id="author" th:field="*{author}">
  		
	  	<label for="isbn" class="form-label">ISBN</label>
  		<input type="text" class="form-control" id="isbn" th:field="*{isbn}">
  		
  		<button type="submit" class="btn btn-primary">Salva</button>
  		</div>
  		</div>
	</form>
	</div>
	<script th:replace="~{fragments/bootstrap :: script}"></script>
</body>
</html>