<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Nuovo libro</title>
<link th:replace="~{fragments/bootstrap :: head}"></link>
</head>
<body>
	<div class="container">
	<h1>Nuovo libro</h1>
	<hr/>
	<form id="book-form" th:object="${book}"
	  th:action="@{/books/create}"  method="post">
	  	<ul>
	      <li 
	         th:each="err : ${#fields.allErrors()}" 
	         th:text="${err}" class="text-danger">
	      </li>
  		</ul>
	  	<div class="row">
	  	<div class="col-8">
	  	<label for="title" class="form-label">Titolo</label>
  		<input type="text" class="form-control" id="title" th:field="*{title}" th:errorClass="is-invalid">  			
		<div th:if="${#fields.hasErrors('title')}" class="invalid-feedback">
			<ul>
			   <li th:each="err : ${#fields.errors('title')}" th:text="${err}"></li>
			</ul>
  		</div>
  		
  		<label for="author" class="form-label">Autore</label>
  		<input type="text" class="form-control" id="author" th:field="*{author}" th:errorClass="is-invalid">
  		<div th:if="${#fields.hasErrors('author')}" class="invalid-feedback">
			<ul>
			   <li th:each="err : ${#fields.errors('author')}" th:text="${err}"></li>
			</ul>
  		</div>
  		
  		
	  	<label for="isbn" class="form-label">ISBN</label>
  		<input type="text" class="form-control" id="isbn" th:field="*{isbn}" th:errorClass="is-invalid">
  		<div th:if="${#fields.hasErrors('isbn')}" class="invalid-feedback">
			<ul>
			   <li th:each="err : ${#fields.errors('isbn')}" th:text="${err}"></li>
			</ul>
  		</div>
  		
  		<button type="submit" class="btn btn-primary">Salva</button>
  		<a class="btn btn-primary" th:href="@{/books}">Annulla</a>
  		</div>
  		</div>
	</form>
	</div>
	<script th:replace="~{fragments/bootstrap :: script}"></script>
</body>
</html>