<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Elenco libri</title>

<link th:replace="~{fragments/bootstrap :: head}"></link>
</head>
<body>
<div class="container">
	<table class="table">
		<thead>
			<tr>
				<td>Id</td>
				<td>Titolo</td>
				<td>Autore</td>
				<td>ISBN</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="libro : ${elencoLibri}">
				<td>
				<a th:text="${libro.id}" th:href="@{'books/'+ ${libro.id}}"></a>
				</td>
				<td th:text="${libro.title}"></td>
				<td th:text="${libro.author}"></td>
				<td th:text="${libro.isbn}"></td>
			</tr>
		</tbody>
	</table>
	</div>
	<script th:replace="~{fragments/bootstrap :: script}"></script>
</body>
</html>